init.author.name=Denzel Wamburu
init.author.email=denzjoseph@gmail.com
init.author.url=http://denzel.xyz
//registry.npmjs.org/:_authToken=b0c806d1-a5ed-45ec-bdb6-47015f99799d
proxy=172.16.108.1:8080
https-proxy=172.16.108.1:8080
